@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-100.woff2") format("woff2");
  font-weight: 100;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neumann";
  src: url("../assets/fonts/Neumann.woff2") format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}
